<!DOCTYPE html>
</html>
    <head>
        <title>Cadastro de Estabelecimentos</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
    	<div id="cabIndex">

            <div id="cabIndexInterno">  
                <div id="imgLogo">
                    <img onClick="index();" src="/../images/logo.png">

                    <div id="textoIndex">
                    <h2>Gerenciamento Principal</h2>
                    </div>
                </div>
                
            </div>
        </div>
        <div id="wrapper">